:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  margin: 0;
  padding: 0;

}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1fr 0.6fr;
  grid-template-areas:
    "nav nav nav"
    "column1 column2 column3"
    "footer footer footer";
  grid-gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0.1em;
  max-width: 600px;
  padding: 0 250px 250px;
  text-align: center;

}

#column1,
#column2,
#column3 {
  background: #eee;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  border: 1px solid #bbb;
  text-align: center;
  padding: 10px;
}

#column1 {
  grid-area: column1;
}

#column2 {
  grid-area: column2;
}

#column3 {
  grid-area: column3;
}



nav {
  background-color: #181838;
  color: whitesmoke;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  border: 1px solid #bbb;
}

footer {
  background: #ffffff;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

/* Tablet Views */
@media only screen and (max-width: 57.0em) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1fr 1fr 0.6fr;
    grid-template-areas:
      "nav nav"
      "column1 column2"
      "column3 column3"
      "footer footer";
  }
   #column3 img {
  width: 100%; /* Stretch the image width to fit the container */
  object-fit: contain; /* Maintain aspect ratio and cover the container */
}

}

/* Phone Views */
@media only screen and (max-width: 34.0em) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 0.6fr;
    grid-template-areas:
      "nav"
      "column1"
      "column2"
      "column3"
      "footer";
  }
 
}


